html, body {
  margin: 0 auto;
  max-width: 393px;
  font-family: poppins;
  background: #d9edff;
  user-select: none;
}
.header {
  width: 393px;
  background: #0085ff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  top: 0;
}
.header h1 {
  margin: 0;
  margin-right: 30px;
  font-size: 20px;
  color: #fff;
}
.fa-home {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.header a {
  display: block;
  font-size: 12px;
  padding: 0;
  margin: 3px;
  text-decoration: none;
  color: #fff;
}
.header i:hover,
.header a:hover {
  color: #000;
}

/*CONTENT*/
.content {
  padding: 25px;
  margin: 60px 0;
  height: 100%;
}
.content.home {
  padding: 20px;
  margin-bottom: 0;
}
.content h2 {
  display: flex;
  align-items: center;
  margin: 7px 0;
  font-size: 20px;
  color: #000;
}
.content h2.home {
  margin: 7px 5px;
}
.content h2.home.top,
.content h2.top  {
  margin-top: 0;
}
.fa-chevron-down {
  margin-left: auto;
  font-size: 15px;
}
.content p,
.content h4 {
  text-align: center;
  margin: 7px 0;
  font-size: 15px;
  color: #000;
}
.img-content,
.vid-content {
  width: 100%;
  height: 190px;
  background: #002f5b;
  border: 0;
  border-radius: 5px;
}
.content .vid-content {
  border-radius: 0;
}
.btn-link,
.btn-main,
.btn-sub {
  border: 0;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  background: #0085ff;
  color: #fff;
  font-size: 15px;
  margin: 5px 0;
}
.btn-sub {
  border: 2px solid #0085ff;
  background: none;
  color: #0085ff;
  font-weight: bold;
  display: none;
}
.block-area:hover .btn-sub {
  display: block;
}

/*VIP*/
.content .vip-area {
  background: #001f3c;
  border-radius: 5px;
  margin: 10px 5px;
}
.img-vip {
  width: 100%;
  height: 190px;
  background: #002f5b;
  border-radius: 5px 5px 0 0;
}
.vip-area .text-vip {
  padding: 15px;
  padding-top: 5px;
}
.text-vip h3 {
  display: flex;
  margin: 5px 0;
  font-size: 18px;
  color: #fff;
}
.text-vip h3 p {
  margin: 0 0 6px 5px;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 9px;
  background: red;
  color: #fff;
}
.text-vip .btn-vip {
  width: 100%;
  border: 0;
  background: #0085ff;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}

/*DEFAULT*/
.content .box-area {
  display: flex;
}
.content .box {
  background: #001f3c;
  text-align: center;
  border-radius: 5px;
  flex: 1;
  margin: 5px;
}
.box .none {
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #d9edff;
}
.img-box {
  width: 100%;
  height: 93px;
  background: #002f5b;
  border-radius: 5px 5px 0 0;
}
.box .text-area {
  margin: 8px;
  margin-top: 5px;
}
.text-area h3 {
  margin: 0;
  font-size: 13px;
  height: 35px;
  text-align: left;
  color: #fff;
}
.btn,
.btn-cs {
  margin: 0;
  width: 100%;
  border: 0;
  background: #0085ff;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
.btn-cs {
  background: #6d859b;
}
.note {
  display: flex;
  background: #a9cbed;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.note .img-brave {
  width: 60px;
  height: 60px;
  background: #64a4de;
  margin-right: 10px;
  border-radius: 7px;
}
.brave h4 {
  margin: 0;
  margin-bottom: 7px;
}
.brave .btn-link {
  margin: 0;
  width: auto;
  padding: 7px 15px;
  background: #0085ff;
  font-size: 12px;
}
.brave .btn-link:hover {
  opacity: 0.5;
}

/*FOOTER*/
.footer {
  padding: 15px 0;
  text-align: center;
  background: #0085ff;
}
.footer.fixed {
  position: fixed;
  width: 393px;
  bottom: 0;
}
.footer p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

/*MORE*/
.btn-vip:hover,
.btn:hover,
.btn-link:hover,
.btn-sub:hover {
  background: #8dd3ff;
}
.btn-sub:hover {
  border-color: #8dd3ff;
  color: #fff;
}
.btn-cs:hover {
  background: #b4c2cb;
}
img {
  pointer-events: none;
  cursor: default;
}
.img-content,
.img-vip,
.img-box {
  background-image: url('../file/default.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}