html, body {
    margin: 0 auto;
    max-width: 393px;
    font-family: poppins, sans-serif;
    user-select: none;
    background: #0E0E0E;
    color: #FFFFFF;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .header-area {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    background: #0E0E0E;
  }
  .header-area h1 {
    font-size: 20px;
    font-weight: normal;
    width: 100%;
  }
  .btn-subs {
    border: 0;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 12px;
    background: #E62118;
    color: #FFFFFF;
  }
  .content p {
    margin: 0;
    margin-top: 75px;
    font-size: 13px;
    text-align: center;
    color: #BDBDBD;
  }
  .action-area {
    padding: 5px;
    padding-top: 95px;
  }
  .action-in {
    padding: 20px;
    width: auto;
    border-radius: 5px;
    background: #212121;
  }
  .action-in h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 7px;
    text-align: center;
  }
  .action-in h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #BDBDBD;
  }
  .action-in p {
    font-size: 12px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    color: #BDBDBD;
  }
  .line {
    margin: 0 10px;
    margin-bottom: 25px;
    height: 4px;
    border-radius: 5px;
    background: #01DF72;
  }
  .btn-action {
    border: 0;
    width: 100%;
    padding: 12px 17px;
    margin: 0;
    margin-top: 10px;
    font-size: 17.5px;
    border-radius: 5px;
    color: #01DF72;
    background: #1F3028;
    display: flex;
    align-items: center;
  }
  .btn-action a {
    width: 100%;
    margin: 0;
    font-size: 15px;
  }
  .btn-subs:hover,
  .btn-action:hover {
    background: #3C3C3C;
    color: #767676;
  }