<div class="footer-area">
  <div class="top-footer space">
    <img class="icon" onclick="Home()" src="/images/icon.png" />
    <h3><b>Dexter Modz</b> Merupakan Platform Penyedia Layanan Download Cheat Mobile Legends Gratis Terpercaya & Terbaik di Indonesia</h3>
    <h2>Sosial Media Official</h2>
    <i class="fab fa-whatsapp fa-2x" onclick="Whatsapp()"></i>
    <i class="fab fa-telegram fa-2x" onclick="location.href='https://t.me/dextermodzz'"></i>
    <i class="fab fa-youtube fa-2x" onclick="Channel()"></i>
    <i class="fab fa-tiktok fa-2x" onclick="location.href='https://tiktok.com/@dextermodz'"></i>
    <i class="fab fa-instagram fa-2x" onclick="location.href='https://www.instagram.com/dextermodzz'"></i>
    <i class="fab fa-facebook fa-2x" onclick="location.href='https://www.facebook.com/dextermodzid'"></i>
  </div>
  <p class="year">Copyright &copy; <span id="tahun"></span>, Dexter Modz</p>
</div>
<div class="floating">
  <i class="my wa fab fa-whatsapp fa-2x" onclick="Whatsapp()"></i>
  <i class="my tele fab fa-telegram fa-2x" onclick="location.href='https://t.me/dextermodzz'"></i>
  <i class="my yt fab fa-youtube fa-2x" onclick="Channel()"></i>
</div>