<div class="footer-area">
  <div class="top-footer space">
    <img class="icon" onclick="Home()" src="../../images/icon.png" />
    <h3><b>Dexter Modz</b> Merupakan Platform Penyedia Layanan Download Cheat Mobile Legends Gratis Terpercaya & Terbaik di Indonesia</h3>
    <h2>Sosial Media Official</h2>
    <i class="fab fa-whatsapp fa-2x" onclick="location.href='https://dexter.rf.gd/1/whatsapp'"></i>
    <i class="fab fa-telegram fa-2x" onclick="location.href='https://t.me/dextermodzz'"></i>
    <i class="fab fa-youtube fa-2x" onclick="Channel()"></i>
    <i class="fab fa-tiktok fa-2x" onclick="location.href='https://tiktok.com/@dextermodz'"></i>
    <i class="fab fa-instagram fa-2x" onclick="location.href='https://www.instagram.com/dextermodzz'"></i>
    <i class="fab fa-facebook fa-2x" onclick="location.href='https://www.facebook.com/dextermodzid'"></i>
  </div>
  <!-- <p>Copyright © 2025, Dexter Modz</p> -->
  <p>Copyright &copy; <span id="tahun"></span>, Dexter Modz</p>
</div>
<div class="floating">
  <i class="my wa fab fa-whatsapp fa-2x" onclick="location.href='https://dexter.rf.gd/1/whatsapp'"></i>
  <i class="my tele fab fa-telegram fa-2x" onclick="location.href='https://t.me/dextermodzz'"></i>
  <i class="my yt fab fa-youtube fa-2x" onclick="Channel()"></i>
</div>
<!-- 
<script>
  // Setelah halaman dimuat, tunggu hingga elemen #tahun muncul
      document.addEventListener("DOMContentLoaded", () => {
        const tahunSekarang = new Date().getFullYear();
        const cekTahun = setInterval(() => {
          const el = document.getElementById("tahun");
          if (el) {
            el.textContent = tahunSekarang;
            clearInterval(cekTahun);
          }
        }, 100);
      });
</script> -->