
<div class="action-area">
    <div class="action-in">
      <h2>Apk & Link Lainnya</h2>
      <div class="line"></div>
      <button class="btn-action" onclick="location.href='/pages/maphack/free/index.html'">APK MOD MENU MLBB</button>
      <button class="btn-action" onclick="location.href='/pages/lulubox/free/index.html'">APK LULUBOX MLBB</button>
      <button class="btn-action" onclick="location.href='/pages/drone/index.html'">SCRIPT DRONE VIEW MLBB</button>
      <button class="btn-action" onclick="location.href='/pages/script/damage/index.html'">SCRIPT DAMAGE UP MLBB</button>
      <button class="btn-action" onclick="location.href='/pages/script/fps/index.html'">CONFIG FPS ANTI LAG MLBB</button>
    </div>
  </div>