<!-- Header -->
<header>
  <a class="title" href="/">Dexter Modz</a>
  <a class="header-subscribe" href="#" id="subscribeLink">Subscribe</a>
</header>

<!-- Main Content -->
<div class="wrapper">
  <div class="container">
    
    <!-- Section Title -->
    <div class="section-title">
      <h2>Unlock Link</h2>
      <p>Complete the actions and unlock the link</p>
    </div>

    <!-- Subscribe Buttons -->
    <a id="btn1" class="button" href="#">
      <i class="fab fa-youtube"></i>
      Subscribe On YouTube
      <i class="fas fa-chevron-right icon-right"></i>
    </a>
    <a id="btn2" class="button" href="#">
      <i class="fab fa-youtube"></i>
      Subscribe On YouTube
      <i class="fas fa-chevron-right icon-right"></i>
    </a>
    <a id="btn3" class="button" href="#">
      <i class="fab fa-youtube"></i>
      Subscribe On YouTube
      <i class="fas fa-chevron-right icon-right"></i>
    </a>
    <a id="btn4" class="button" href="#">
      <i class="fab fa-youtube"></i>
      Subscribe On YouTube
      <i class="fas fa-chevron-right icon-right"></i>
    </a>

    <!-- Progress Display -->
    <div class="progress-text" id="progressText">Unlock progress: 0/4</div>
    <div class="progress-container">
      <div class="progress-bar" id="progressBar"></div>
    </div>

    <!-- Unlock Button -->
    <a id="goBtn" class="button go-button" href="unlock-2.html">
      <i class="fas fa-lock"></i>
      Unlock Link
      <i class="fas fa-link icon-right"></i>
    </a>      
    
  </div>
</div>
